.BANNERCONTACT{
     display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 0.5cm;
    margin: 0.2cm;
    
 }

 .styl{
    position:absolute; 
    left:1160px; 
    top:155px;
 }

 .styl1{
    position:absolute; 
    left:80px; 
    top:110px;
 }

 .styl0{
    position:absolute; 
    left:1050px; 
    top:160px;
 }

 .mrqstyl{
    font-size: 1.8cm;
    color: white;
   align-items: center;
   
 }

 .hr00{
  
      border: 10px solid red;
      border-radius: 5px;
    
 }